div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*a:hover{
    background-color: rgb(15,112,183);
}*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;  
}

.padding_banner{
    padding-top: 15px; 
}

section{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.img_banner{
    width: 100%;
}

.div_fotos{
    width: 750px;
    background-color: rgb(207,225,242);
    margin-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.fotos_size{
    width:150px;
    height:150px;
}

.texto_nombres{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.texto_definiciones{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.estructura_fotostexto{
    width: 375px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.div_herramientas{
    width: 750px;
    height: 200px;
    background-color: rgb(207,225,242);
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.logos_size{
    width:100px;
    height:100px;
}

.efecto_blur:hover {filter: blur(2px);}

.efecto_transparencia:hover {filter: opacity(.5);}

footer{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.div_copyright{
    width: 750px;
    height: 35px;
    background-color: rgb(15,112,183);
    color: white;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
